In [62]:
import pandas as pd

In [63]:
import pandas as pd

In [64]:
df = pd.read_csv('../data/amsterdam/listings.csv')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10075 entries, 0 to 10074
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            10075 non-null  int64
 1   listing_url                                   10075 non-null  object
 2   scrape_id                                     10075 non-null  int64
 3   last_scraped                                  10075 non-null  object
 4   source                                        10075 non-null  object
 5   name                                          10075 non-null  object
 6   description                                   9729 non-null   object
 7   neighborhood_overview                         5332 non-null   object
 8   picture_url                                   10075 non-null  object
 9   host_id                                       10075 non-null  int64
 10  host_url                                      10075 non-null  object
 11  host_name                                     10058 non-null  object
 12  host_since                                    10058 non-null  object
 13  host_location                                 8933 non-null   object
 14  host_about                                    5315 non-null   object
 15  host_response_time                            6192 non-null   object
 16  host_response_rate                            6192 non-null   object
 17  host_acceptance_rate                          7989 non-null   object
 18  host_is_superhost                             9949 non-null   object
 19  host_thumbnail_url                            10058 non-null  object
 20  host_picture_url                              10058 non-null  object
 21  host_neighbourhood                            2868 non-null   object
 22  host_listings_count                           10058 non-null  float64
 23  host_total_listings_count                     10058 non-null  float64
 24  host_verifications                            10058 non-null  object
 25  host_has_profile_pic                          10058 non-null  object
 26  host_identity_verified                        10058 non-null  object
 27  neighbourhood                                 5332 non-null   object
 28  neighbourhood_cleansed                        10075 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      10075 non-null  float64
 31  longitude                                     10075 non-null  float64
 32  property_type                                 10075 non-null  object
 33  room_type                                     10075 non-null  object
 34  accommodates                                  10075 non-null  int64
 35  bathrooms                                     5960 non-null   float64
 36  bathrooms_text                                10067 non-null  object
 37  bedrooms                                      9783 non-null   float64
 38  beds                                          5925 non-null   float64
 39  amenities                                     10075 non-null  object
 40  price                                         5911 non-null   object
 41  minimum_nights                                10075 non-null  int64
 42  maximum_nights                                10075 non-null  int64
 43  minimum_minimum_nights                        10066 non-null  float64
 44  maximum_minimum_nights                        10066 non-null  float64
 45  minimum_maximum_nights                        10066 non-null  float64
 46  maximum_maximum_nights                        10066 non-null  float64
 47  minimum_nights_avg_ntm                        10066 non-null  float64
 48  maximum_nights_avg_ntm                        10066 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              9720 non-null   object
 51  availability_30                               10075 non-null  int64
 52  availability_60                               10075 non-null  int64
 53  availability_90                               10075 non-null  int64
 54  availability_365                              10075 non-null  int64
 55  calendar_last_scraped                         10075 non-null  object
 56  number_of_reviews                             10075 non-null  int64
 57  number_of_reviews_ltm                         10075 non-null  int64
 58  number_of_reviews_l30d                        10075 non-null  int64
 59  availability_eoy                              10075 non-null  int64
 60  number_of_reviews_ly                          10075 non-null  int64
 61  estimated_occupancy_l365d                     10075 non-null  int64
 62  estimated_revenue_l365d                       5911 non-null   float64
 63  first_review                                  8944 non-null   object
 64  last_review                                   8944 non-null   object
 65  review_scores_rating                          8944 non-null   float64
 66  review_scores_accuracy                        8944 non-null   float64
 67  review_scores_cleanliness                     8943 non-null   float64
 68  review_scores_checkin                         8944 non-null   float64
 69  review_scores_communication                   8944 non-null   float64
 70  review_scores_location                        8944 non-null   float64
 71  review_scores_value                           8944 non-null   float64
 72  license                                       9948 non-null   object
 73  instant_bookable                              10075 non-null  object
 74  calculated_host_listings_count                10075 non-null  int64
 75  calculated_host_listings_count_entire_homes   10075 non-null  int64
 76  calculated_host_listings_count_private_rooms  10075 non-null  int64
 77  calculated_host_listings_count_shared_rooms   10075 non-null  int64
 78  reviews_per_month                             8944 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 6.1+ MB

In [66]:
# Drop all URL and image-related columns - 1
url_cols = [col for col in df.columns if 'url' in col.lower() or 'picture' in col.lower()]
df.drop(columns=url_cols, inplace=True)

print(f"Dropped {len(url_cols)} columns: {url_cols}")

Dropped 5 columns: ['listing_url', 'picture_url', 'host_url', 'host_thumbnail_url', 'host_picture_url']

In [67]:
columns_to_drop = [
    'host_location',
    'host_about',
    'host_neighbourhood',
    'host_verifications',
    'host_identity_verified'
]

df.drop(columns=columns_to_drop, inplace=True)

print(f"Dropped {len(columns_to_drop)} columns: {columns_to_drop}")

Dropped 5 columns: ['host_location', 'host_about', 'host_neighbourhood', 'host_verifications', 'host_identity_verified']

In [68]:
df.drop(columns=['calendar_updated', 'neighbourhood_group_cleansed', 'scrape_id'], inplace=True)

In [69]:
import pandas as pd

# Load the original listings CSV
df = pd.read_csv("../data/amsterdam/listings.csv")

# Define the columns you want to KEEP
columns_to_keep = [
    'id', 'host_id', 'host_name',
    'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude',
    'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds', 'bathrooms',
    'price', 'minimum_nights', 'maximum_nights', 'availability_365',
    'number_of_reviews', 'last_review', 'reviews_per_month', 'review_scores_rating',
    'instant_bookable', 'host_is_superhost', 'amenities',
    'calculated_host_listings_count'
]

# Keep only the selected columns
df_cleaned = df[columns_to_keep].copy()

# Preview the result
print(f"Remaining columns: {df_cleaned.shape[1]}")
df_cleaned.head()

Remaining columns: 25

,id,host_id,host_name,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,...,maximum_nights,availability_365,number_of_reviews,last_review,reviews_per_month,review_scores_rating,instant_bookable,host_is_superhost,amenities,calculated_host_listings_count
0,2818,3159,Daniel,"Amsterdam, North Holland, Netherlands",Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room in condo,Private room,2,...,28,10,398,2025-01-03,2.05,4.91,f,t,"[""PH neutral and dermatologically tested body ...",1
1,27886,97647,Flip,"Amsterdam, North Holland, Netherlands",Centrum-West,52.38761,4.89188,Private room in houseboat,Private room,2,...,356,88,294,2025-02-17,1.84,4.92,f,t,"[""Heating - split type ductless system"", ""Priv...",1
2,28871,124245,Edwin,"Amsterdam, North Holland, Netherlands",Centrum-West,52.36775,4.89092,Private room in rental unit,Private room,2,...,730,84,677,2025-02-28,3.83,4.87,f,t,"[""Refrigerator"", ""Hangers"", ""Smoke alarm"", ""Cl...",2
3,29051,124245,Edwin,"Amsterdam, North Holland, Netherlands",Centrum-Oost,52.36584,4.89111,Private room in condo,Private room,2,...,730,84,794,2025-03-02,4.67,4.81,f,t,"[""Refrigerator"", ""Hangers"", ""Smoke alarm"", ""Pr...",2
4,44391,194779,Jan,"Amsterdam, Noord-Holland, Netherlands",Centrum-Oost,52.37168,4.91471,Entire rental unit,Entire home/apt,4,...,730,0,42,2022-08-20,0.24,4.71,f,f,"[""Private entrance"", ""Paid parking off premise...",1

In [70]:
# Convert 't'/'f' to True/False
df_cleaned['instant_bookable'] = df_cleaned['instant_bookable'].map({'t': True, 'f': False})
df_cleaned['host_is_superhost'] = df_cleaned['host_is_superhost'].map({'t': True, 'f': False})

In [71]:
df_cleaned.isnull().sum().sort_values(ascending=False)

neighbourhood                     4743
price                             4164
beds                              4150
bathrooms                         4115
review_scores_rating              1131
reviews_per_month                 1131
last_review                       1131
bedrooms                           292
host_is_superhost                  126
host_name                           17
maximum_nights                       0
amenities                            0
instant_bookable                     0
number_of_reviews                    0
availability_365                     0
id                                   0
minimum_nights                       0
host_id                              0
accommodates                         0
room_type                            0
property_type                        0
longitude                            0
latitude                             0
neighbourhood_cleansed               0
calculated_host_listings_count       0
dtype: int64

In [72]:
# Drop rows where price is missing
df_cleaned = df_cleaned.dropna(subset=['price'])

In [73]:
# Fill host_is_superhost missing with False (assume not a superhost)
df_cleaned['host_is_superhost'] = df_cleaned['host_is_superhost'].fillna(False)

/var/folders/xb/rzlp256d1yv_tzq65s6kvnh40000gn/T/ipykernel_15450/3713023833.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaned['host_is_superhost'] = df_cleaned['host_is_superhost'].fillna(False)

In [74]:
# Fill host_name missing with "Unknown"
df_cleaned['host_name'] = df_cleaned['host_name'].fillna("Unknown")

In [75]:
# Drop neighbourhood (we already have neighbourhood_cleansed)
df_cleaned = df_cleaned.drop(columns=['neighbourhood'])

In [76]:
# Convert null values in 'reviews_per_month' and 'review_scores_rating' to 0
df_cleaned['reviews_per_month'] = df_cleaned['reviews_per_month'].fillna(0)
df_cleaned['review_scores_rating'] = df_cleaned['review_scores_rating'].fillna(0)
# Convert 'last_review' column to datetime format; invalid or missing values become NaT (null for dates)
df_cleaned['last_review'] = pd.to_datetime(df_cleaned['last_review'], errors='coerce')

In [77]:
# Filling missing bedrooms, bathrooms, and beds with the median value
# This ensures the dataset remains complete without biasing the results with outliers
df_cleaned['bedrooms'] = df_cleaned['bedrooms'].fillna(df_cleaned['bedrooms'].median())
df_cleaned['bathrooms'] = df_cleaned['bathrooms'].fillna(df_cleaned['bathrooms'].median())
df_cleaned['beds'] = df_cleaned['beds'].fillna(df_cleaned['beds'].median())

In [78]:
# Remove dollar signs and commas, then convert to float
df_cleaned['price'] = (
    df_cleaned['price']
    .replace(r'[\$,]', '', regex=True)  # Use raw string with r'' to avoid warning
    .astype(float)
)

In [79]:
df_cleaned.isnull().sum().sort_values(ascending=False)

last_review                       730
id                                  0
host_id                             0
amenities                           0
host_is_superhost                   0
instant_bookable                    0
review_scores_rating                0
reviews_per_month                   0
number_of_reviews                   0
availability_365                    0
maximum_nights                      0
minimum_nights                      0
price                               0
bathrooms                           0
beds                                0
bedrooms                            0
accommodates                        0
room_type                           0
property_type                       0
longitude                           0
latitude                            0
neighbourhood_cleansed              0
host_name                           0
calculated_host_listings_count      0
dtype: int64

In [80]:
df_cleaned.duplicated().sum()

0

In [81]:
# Extract popular amenities into separate boolean columns
popular_amenities = [
    'Wifi', 'Air conditioning', 'Heating', 'Washer', 'Dryer', 'TV',
    'Kitchen', 'Elevator', 'Free parking on premises', 'Free street parking',
    'Crib', 'Smoke alarm', 'Carbon monoxide alarm',
    'Pool', 'Hot tub', 'Gym', 'Pets allowed'
]

for amenity in popular_amenities:
    col_name = amenity.lower().replace(" ", "_").replace("-", "_")
    df_cleaned[col_name] = df_cleaned['amenities'].apply(lambda x: amenity in x)

# Drop the original 'amenities' column
df_cleaned = df_cleaned.drop(columns=['amenities'])

In [82]:
import os

# This will create the 'output' folder at the right level
os.makedirs("../output", exist_ok=True)

# Save the cleaned file
df_cleaned.to_csv("../output/cleaned_listings_amsterdam.csv", index=False)

In [88]:
calendar_df = pd.read_csv('../data/amsterdam/calendar.csv')

In [89]:
print(calendar_df.columns)

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [90]:
# Drop unnecessary columns
calendar_df = calendar_df.drop(columns=['adjusted_price', 'maximum_nights'])

# Optional: confirm remaining columns
print(calendar_df.columns)

Index(['listing_id', 'date', 'available', 'price', 'minimum_nights'], dtype='object')

In [ ]:
# Convert 'date' column to datetime format
calendar_df['date'] = pd.to_datetime(calendar_df['date'], errors='coerce')

In [ ]:
# Convert 'available' column from 't'/'f' to True/False
calendar_df['available'] = calendar_df['available'].map({'t': True, 'f': False})

In [ ]:
# convert 'price' column to numeric
calendar_df['price'] = (
    calendar_df['price']
    .replace(r'[\$,]', '', regex=True)
    .astype(float)
)

In [95]:
# Check for null values in each column
calendar_df.isnull().sum()

listing_id        0
date              0
available         0
price             0
minimum_nights    1
dtype: int64

In [96]:
# Drop rows where 'minimum_nights' is missing
calendar_df = calendar_df.dropna(subset=['minimum_nights'])

In [97]:
import os

# Make sure output directory exists
os.makedirs("../output", exist_ok=True)

# Save to CSV
calendar_df.to_csv("../output/cleaned_calendar_amsterdam.csv", index=False)

In [98]:
reviews_df = pd.read_csv('../data/amsterdam/reviews.csv')

In [99]:
# Drop unnecessary columns
reviews_df = reviews_df.drop(columns=['reviewer_name', 'reviewer_id'])

In [100]:
#convert 'date' column to datetime format
reviews_df['date'] = pd.to_datetime(reviews_df['date'], errors='coerce')

In [101]:
reviews_df.isnull().sum()

listing_id     0
id             0
date           0
comments      27
dtype: int64

In [103]:
# Drop rows where 'comments' is missing
reviews_df = reviews_df.dropna(subset=['comments'])

In [104]:
import os

# Make sure the output folder exists
os.makedirs("../output", exist_ok=True)

# Save to CSV
reviews_df.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [105]:
df = pd.read_csv('../output/cleaned_listings_amsterdam.csv')

In [106]:
# Check for non-numeric values in latitude
non_numeric_latitude = df[~df['latitude'].apply(pd.to_numeric, errors='coerce').notna()]

# Check for non-numeric values in longitude
non_numeric_longitude = df[~df['longitude'].apply(pd.to_numeric, errors='coerce').notna()]

# Display rows with invalid latitude or longitude
print("Rows with invalid latitude:", non_numeric_latitude)
print("Rows with invalid longitude:", non_numeric_longitude)

Rows with invalid latitude: Empty DataFrame
Columns: [id, host_id, host_name, neighbourhood_cleansed, latitude, longitude, property_type, room_type, accommodates, bedrooms, beds, bathrooms, price, minimum_nights, maximum_nights, availability_365, number_of_reviews, last_review, reviews_per_month, review_scores_rating, instant_bookable, host_is_superhost, calculated_host_listings_count, wifi, air_conditioning, heating, washer, dryer, tv, kitchen, elevator, free_parking_on_premises, free_street_parking, crib, smoke_alarm, carbon_monoxide_alarm, pool, hot_tub, gym, pets_allowed]
Index: []

[0 rows x 40 columns]
Rows with invalid longitude: Empty DataFrame
Columns: [id, host_id, host_name, neighbourhood_cleansed, latitude, longitude, property_type, room_type, accommodates, bedrooms, beds, bathrooms, price, minimum_nights, maximum_nights, availability_365, number_of_reviews, last_review, reviews_per_month, review_scores_rating, instant_bookable, host_is_superhost, calculated_host_listings_count, wifi, air_conditioning, heating, washer, dryer, tv, kitchen, elevator, free_parking_on_premises, free_street_parking, crib, smoke_alarm, carbon_monoxide_alarm, pool, hot_tub, gym, pets_allowed]
Index: []

[0 rows x 40 columns]

In [111]:
df = pd.read_csv('../output/cleaned_listings_amsterdam.csv')

df_calendar = pd.read_csv('../output/cleaned_calendar_amsterdam.csv')

In [113]:
# Keep only rows in df_calendar where listing_id exists in df (listings)
df_calendar_filtered = df_calendar[df_calendar["listing_id"].isin(df["id"])]

# Save the filtered calendar to a new CSV
df_calendar_filtered.to_csv("../output/cleaned_calendar_amsterdam.csv", index=False)

In [114]:
df_reviews = pd.read_csv('../output/cleaned_reviews_amsterdam.csv')

In [115]:
# Keep only rows in df_reviews where listing_id exists in df (listings)
df_reviews = df_reviews[df_reviews["listing_id"].isin(df["id"])]

# Overwrite the original reviews CSV
df_reviews.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [116]:
# Add a surrogate primary key
df_reviews.insert(0, "review_uid", range(1, len(df_reviews) + 1))

# Save with the new column
df_reviews.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [117]:
df_reviews.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False, quoting=1)

In [119]:

import csv

df_reviews.to_csv(
    "../output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_ALL,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [120]:
import csv

# Keep only reviews for listings that exist
df_reviews = df_reviews[df_reviews["listing_id"].isin(df["id"])]

# Save with proper quoting and escaping
df_reviews.to_csv(
    "../output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_ALL,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [121]:
# Load listings and reviews (just to be sure)
df = pd.read_csv("../output/cleaned_listings_amsterdam.csv")
df_reviews = pd.read_csv("../output/cleaned_reviews_amsterdam.csv")

# Check how many rows are NOT in listings
invalid = df_reviews[~df_reviews["listing_id"].isin(df["id"])]

print(f"Total rows: {df_reviews.shape[0]}")
print(f"Invalid listing_ids: {invalid.shape[0]}")
invalid["listing_id"].value_counts().head()

Total rows: 371549
Invalid listing_ids: 0

Series([], Name: count, dtype: int64)

In [122]:
import csv

# Filter for valid listing_ids
df_reviews = df_reviews[df_reviews["listing_id"].isin(df["id"])]

# Overwrite the file (again)
df_reviews.to_csv(
    "../output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_ALL,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [123]:
print(df_reviews[df_reviews["listing_id"] == 1191])

Empty DataFrame
Columns: [review_uid, listing_id, id, date, comments]
Index: []

In [124]:
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_ALL,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [125]:
# Remove line 21489 (remember Python is 0-based, so index is 21488)
with open("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv", "r") as f:
    lines = f.readlines()

# Remove line 21488 (i.e., line 21489 in human terms)
del lines[21488]

# Write the rest back
with open("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv", "w") as f:
    f.writelines(lines)

In [129]:
df_reviews.columns

Index(['review_uid', 'listing_id', 'id', 'date'], dtype='object')

In [130]:
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False
)

In [131]:
import pandas as pd
import csv

# Reload everything from scratch
df = pd.read_csv("../output/cleaned_listings_amsterdam.csv")
df_reviews = pd.read_csv("../output/cleaned_reviews_amsterdam.csv")

# Apply the filter AGAIN (do NOT skip this)
df_reviews = df_reviews[df_reviews["listing_id"].isin(df["id"])]

# Double check that 1191 is NOT in the DataFrame
print("1191 in reviews?", 1191 in df_reviews["listing_id"].values)

# Save over the same CSV — guaranteed clean
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_MINIMAL,
    lineterminator='\n'
)

1191 in reviews? False

In [132]:
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/reviews_clean_final.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_MINIMAL,
    lineterminator='\n'
)

In [133]:
import pandas as pd

# Load both cleaned files
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")

# Check how many listing_ids in reviews are not in listings
invalid_ids = df_reviews[~df_reviews["listing_id"].isin(df_listings["id"])]

# Show result
print(f"Total reviews: {len(df_reviews)}")
print(f"Invalid listing_ids: {len(invalid_ids)}")
print("Sample invalid rows:")
print(invalid_ids.head())

Total reviews: 371549
Invalid listing_ids: 0
Sample invalid rows:
Empty DataFrame
Columns: [review_uid, listing_id, id, date]
Index: []

In [134]:
import pandas as pd

# Load all 3 cleaned CSVs
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")
df_calendar = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_calendar_amsterdam.csv")
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")

# Get listing ID sets from each
listings_ids = set(df_listings["id"])
calendar_ids = set(df_calendar["listing_id"])
reviews_ids = set(df_reviews["listing_id"])

# Check mismatches
calendar_missing = calendar_ids - listings_ids
reviews_missing = reviews_ids - listings_ids

print(f"Total listings: {len(listings_ids)}")
print(f"Total calendar listing_ids: {len(calendar_ids)}")
print(f"Total reviews listing_ids: {len(reviews_ids)}")

print(f"❌ Calendar listing_ids NOT in listings: {len(calendar_missing)}")
print(f"❌ Reviews listing_ids NOT in listings: {len(reviews_missing)}")

# Optional: show samples
print("\nSample calendar mismatches:", list(calendar_missing)[:5])
print("Sample reviews mismatches:", list(reviews_missing)[:5])

Total listings: 5911
Total calendar listing_ids: 5911
Total reviews listing_ids: 5181
❌ Calendar listing_ids NOT in listings: 0
❌ Reviews listing_ids NOT in listings: 0

Sample calendar mismatches: []
Sample reviews mismatches: []

In [136]:
import pandas as pd
import csv

# Reload the original full reviews file (with comments)
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")

# Load listings
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")

# Keep only valid listing_ids
df_reviews = df_reviews[df_reviews["listing_id"].isin(df_listings["id"])]

# Overwrite the same file — NO NEW FILE
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=csv.QUOTE_ALL,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [137]:
reviews_df = pd.read_csv('../data/amsterdam/reviews.csv')

In [138]:
# Drop unnecessary columns
reviews_df = reviews_df.drop(columns=['reviewer_name', 'reviewer_id'])

In [139]:
#convert 'date' column to datetime format
reviews_df['date'] = pd.to_datetime(reviews_df['date'], errors='coerce')

In [140]:
# Drop rows where 'comments' is missing
reviews_df = reviews_df.dropna(subset=['comments'])

In [141]:
import os

# Make sure the output folder exists
os.makedirs("../output", exist_ok=True)

# Save to CSV
reviews_df.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [142]:
# Keep only rows in df_reviews where listing_id exists in df (listings)
df_reviews = df_reviews[df_reviews["listing_id"].isin(df["id"])]

# Overwrite the original reviews CSV
df_reviews.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [143]:


# Load all 3 cleaned CSVs
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")
df_calendar = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_calendar_amsterdam.csv")
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")

# Get listing ID sets from each
listings_ids = set(df_listings["id"])
calendar_ids = set(df_calendar["listing_id"])
reviews_ids = set(df_reviews["listing_id"])

# Check mismatches
calendar_missing = calendar_ids - listings_ids
reviews_missing = reviews_ids - listings_ids

print(f"Total listings: {len(listings_ids)}")
print(f"Total calendar listing_ids: {len(calendar_ids)}")
print(f"Total reviews listing_ids: {len(reviews_ids)}")

print(f"❌ Calendar listing_ids NOT in listings: {len(calendar_missing)}")
print(f"❌ Reviews listing_ids NOT in listings: {len(reviews_missing)}")

# Optional: show samples
print("\nSample calendar mismatches:", list(calendar_missing)[:5])
print("Sample reviews mismatches:", list(reviews_missing)[:5])

Total listings: 5911
Total calendar listing_ids: 5911
Total reviews listing_ids: 5181
❌ Calendar listing_ids NOT in listings: 0
❌ Reviews listing_ids NOT in listings: 0

Sample calendar mismatches: []
Sample reviews mismatches: []

In [146]:
reviews_df.head()

,listing_id,id,date,comments
0,2818,1191,2009-03-30,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,Daniel is highly recommended. He provided all...

In [148]:
# Add a surrogate primary key
reviews_df.insert(0, "review_uid", range(1, len(reviews_df) + 1))


# Save with the new column
reviews_df.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [149]:
reviews_df.head(10)

,review_uid,listing_id,id,date,comments
0,1,2818,1191,2009-03-30,Daniel is really cool. The place was nice and ...
1,2,2818,1771,2009-04-24,Daniel is the most amazing host! His place is ...
2,3,2818,1989,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,4,2818,2797,2009-05-18,Very professional operation. Room is very clea...
4,5,2818,3151,2009-05-25,Daniel is highly recommended. He provided all...
5,6,2818,4748,2009-06-29,Daniel was a great host! He made everything so...
6,7,2818,5202,2009-07-07,Daniele is an amazing host! He provided everyt...
7,8,2818,9131,2009-09-06,You can´t have a nicer start in Amsterdam. Dan...
8,9,2818,12103,2009-10-01,Daniel was a fantastic host. His place is calm...
9,10,2818,16196,2009-11-04,Daniel was great. He couldn.t do enough for us...

In [150]:
# Save with the new column
reviews_df.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [151]:
# Load all 3 cleaned CSVs
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")
df_calendar = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_calendar_amsterdam.csv")
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")

# Get listing ID sets from each
listings_ids = set(df_listings["id"])
calendar_ids = set(df_calendar["listing_id"])
reviews_ids = set(df_reviews["listing_id"])

# Check mismatches
calendar_missing = calendar_ids - listings_ids
reviews_missing = reviews_ids - listings_ids

print(f"Total listings: {len(listings_ids)}")
print(f"Total calendar listing_ids: {len(calendar_ids)}")
print(f"Total reviews listing_ids: {len(reviews_ids)}")

print(f"❌ Calendar listing_ids NOT in listings: {len(calendar_missing)}")
print(f"❌ Reviews listing_ids NOT in listings: {len(reviews_missing)}")

# Optional: show samples
print("\nSample calendar mismatches:", list(calendar_missing)[:5])
print("Sample reviews mismatches:", list(reviews_missing)[:5])

Total listings: 5911
Total calendar listing_ids: 5911
Total reviews listing_ids: 8944
❌ Calendar listing_ids NOT in listings: 0
❌ Reviews listing_ids NOT in listings: 3763

Sample calendar mismatches: []
Sample reviews mismatches: [678229395354656768, 809275686404890625, 1183409573575639040, 1276590392825405442, 27353091]

In [152]:
df_reviews = df_reviews[df_reviews["listing_id"].isin(df_listings["id"])]

In [154]:
# Overwrite the 'review_uid' column instead of inserting
df_reviews["review_uid"] = range(1, len(df_reviews) + 1)

# Save the updated file
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=1,  # QUOTE_ALL
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [155]:
df_reviews.head(10)

,review_uid,listing_id,id,date,comments
0,1,2818,1191,2009-03-30,Daniel is really cool. The place was nice and ...
1,2,2818,1771,2009-04-24,Daniel is the most amazing host! His place is ...
2,3,2818,1989,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,4,2818,2797,2009-05-18,Very professional operation. Room is very clea...
4,5,2818,3151,2009-05-25,Daniel is highly recommended. He provided all...
5,6,2818,4748,2009-06-29,Daniel was a great host! He made everything so...
6,7,2818,5202,2009-07-07,Daniele is an amazing host! He provided everyt...
7,8,2818,9131,2009-09-06,You can´t have a nicer start in Amsterdam. Dan...
8,9,2818,12103,2009-10-01,Daniel was a fantastic host. His place is calm...
9,10,2818,16196,2009-11-04,Daniel was great. He couldn.t do enough for us...

In [156]:
# Load all 3 cleaned CSVs
df_listings = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_listings_amsterdam.csv")
df_calendar = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_calendar_amsterdam.csv")
df_reviews = pd.read_csv("/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv")

# Get listing ID sets from each
listings_ids = set(df_listings["id"])
calendar_ids = set(df_calendar["listing_id"])
reviews_ids = set(df_reviews["listing_id"])

# Check mismatches
calendar_missing = calendar_ids - listings_ids
reviews_missing = reviews_ids - listings_ids

print(f"Total listings: {len(listings_ids)}")
print(f"Total calendar listing_ids: {len(calendar_ids)}")
print(f"Total reviews listing_ids: {len(reviews_ids)}")

print(f"❌ Calendar listing_ids NOT in listings: {len(calendar_missing)}")
print(f"❌ Reviews listing_ids NOT in listings: {len(reviews_missing)}")

# Optional: show samples
print("\nSample calendar mismatches:", list(calendar_missing)[:5])
print("Sample reviews mismatches:", list(reviews_missing)[:5])

Total listings: 5911
Total calendar listing_ids: 5911
Total reviews listing_ids: 5181
❌ Calendar listing_ids NOT in listings: 0
❌ Reviews listing_ids NOT in listings: 0

Sample calendar mismatches: []
Sample reviews mismatches: []

In [157]:
# Reorder columns to match the SQL table
df_reviews = df_reviews[["review_uid", "id", "listing_id", "date", "comments"]]

# Overwrite the same file
df_reviews.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_reviews_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=1,  # QUOTE_ALL
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [158]:
df_reviews.head(10)

,review_uid,id,listing_id,date,comments
0,1,1191,2818,2009-03-30,Daniel is really cool. The place was nice and ...
1,2,1771,2818,2009-04-24,Daniel is the most amazing host! His place is ...
2,3,1989,2818,2009-05-03,We had such a great time in Amsterdam. Daniel ...
3,4,2797,2818,2009-05-18,Very professional operation. Room is very clea...
4,5,3151,2818,2009-05-25,Daniel is highly recommended. He provided all...
5,6,4748,2818,2009-06-29,Daniel was a great host! He made everything so...
6,7,5202,2818,2009-07-07,Daniele is an amazing host! He provided everyt...
7,8,9131,2818,2009-09-06,You can´t have a nicer start in Amsterdam. Dan...
8,9,12103,2818,2009-10-01,Daniel was a fantastic host. His place is calm...
9,10,16196,2818,2009-11-04,Daniel was great. He couldn.t do enough for us...

In [159]:
df_calendar.head(10)

   listing_id        date  available  price  minimum_nights
0        2818  2025-03-03      False   89.0             3.0
1        2818  2025-03-04       True   89.0             3.0
2        2818  2025-03-05       True   89.0             3.0
3        2818  2025-03-06       True   89.0             3.0
4        2818  2025-03-07       True   89.0             3.0
5        2818  2025-03-08       True   89.0             3.0
6        2818  2025-03-09      False   89.0             3.0
7        2818  2025-03-10      False   89.0             3.0
8        2818  2025-03-11      False   89.0             3.0
9        2818  2025-03-12      False   89.0             3.0

In [160]:
df_calendar["minimum_nights"] = df_calendar["minimum_nights"].astype("Int64")  # Nullable integer type

In [161]:
df_calendar.to_csv(
    "/Users/brunoramos/Desktop/Airbnb Project/output/cleaned_calendar_amsterdam.csv",
    index=False,
    encoding="utf-8",
    quoting=1,
    quotechar='"',
    escapechar='\\',
    lineterminator='\n'
)

In [2]:
import pandas as pd

# Step 1: Load the original cleaned reviews
df = pd.read_csv("../output/cleaned_reviews_amsterdam.csv")

# Step 2: Drop the 'comments' column
df.drop(columns=["comments"], inplace=True)

# Step 3: Add the 'city' column
df["city"] = "Amsterdam"

# Step 4: Export to a new CSV for manual upload
df.to_csv("../output/cleaned_reviews_amsterdam.csv", index=False)

In [4]:
df = pd.read_csv("../data/paris/calendar.csv")

/var/folders/xb/rzlp256d1yv_tzq65s6kvnh40000gn/T/ipykernel_34424/1016412362.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/paris/calendar.csv")

In [5]:
df.head(10)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3109,2024-12-07,f,$100.00,NaN,2.0,30.0
1,3109,2024-12-08,t,$100.00,NaN,2.0,30.0
2,3109,2024-12-09,f,$100.00,NaN,2.0,30.0
3,3109,2024-12-10,f,$100.00,NaN,2.0,30.0
4,3109,2024-12-11,f,$100.00,NaN,2.0,30.0
5,3109,2024-12-12,f,$100.00,NaN,2.0,30.0
6,3109,2024-12-13,t,$100.00,NaN,2.0,30.0
7,3109,2024-12-14,t,$100.00,NaN,2.0,30.0
8,3109,2024-12-15,t,$100.00,NaN,2.0,30.0
9,3109,2024-12-16,f,$100.00,NaN,2.0,30.0

In [10]:
df_clean = pd.read_csv("../output/cleaned_calendar_paris.csv")

In [11]:
df_clean.head(10)

   listing_id        date  available  price  minimum_nights   city
0       12452  2024-12-08       True  200.0             3.0  paris
1       12452  2024-12-09       True  200.0             3.0  paris
2       12452  2024-12-10       True  200.0             3.0  paris
3       12452  2024-12-11       True  200.0             3.0  paris
4       12452  2024-12-12       True  200.0             3.0  paris
5       12452  2024-12-13      False  200.0             3.0  paris
6       12452  2024-12-14      False  200.0             3.0  paris
7       12452  2024-12-15       True  200.0             3.0  paris
8       12452  2024-12-16      False  200.0             3.0  paris
9       12452  2024-12-17      False  200.0             3.0  paris

In [13]:
type(df_clean["date"][0])

str

In [14]:
# Convert the 'date' column to datetime format
df_clean['date'] = pd.to_datetime(df_clean['date'], errors='coerce')

# Extract the year from the 'date' column
df_clean['year'] = df_clean['date'].dt.year

# Calculate the range of years in the dataset
year_range = df_clean['year'].min(), df_clean['year'].max()

# Show the range of years
print(f"The dataset spans from {year_range[0]} to {year_range[1]}.")

The dataset spans from 2024 to 2025.

In [15]:
df_clean1 = pd.read_csv("../output/cleaned_calendar_amsterdam.csv")

In [16]:
df_clean1.head(10)

   listing_id        date  available  price  minimum_nights
0        2818  2025-03-03      False   89.0               3
1        2818  2025-03-04       True   89.0               3
2        2818  2025-03-05       True   89.0               3
3        2818  2025-03-06       True   89.0               3
4        2818  2025-03-07       True   89.0               3
5        2818  2025-03-08       True   89.0               3
6        2818  2025-03-09      False   89.0               3
7        2818  2025-03-10      False   89.0               3
8        2818  2025-03-11      False   89.0               3
9        2818  2025-03-12      False   89.0               3

In [22]:
# First, make sure the 'date' column is in datetime format
df_clean1['date'] = pd.to_datetime(df_clean1['date'], errors='coerce')

# Now extract the year from the 'date' column
df_clean1['year'] = df_clean1['date'].dt.year

# Count all bookings (all rows) per year
bookings_per_year = df_clean1.groupby('year').size().reset_index(name='total_bookings')

# Show the result
print(bookings_per_year)

   year  total_bookings
0  2025         1798868
1  2026          358613

In [2]:
import pandas as pd

df_clean1 = pd.read_csv("../output/cleaned_calendar_amsterdam.csv")

In [3]:
df_clean1.head(10)

   listing_id        date  available  price  minimum_nights
0        2818  2025-03-03      False   89.0               3
1        2818  2025-03-04       True   89.0               3
2        2818  2025-03-05       True   89.0               3
3        2818  2025-03-06       True   89.0               3
4        2818  2025-03-07       True   89.0               3
5        2818  2025-03-08       True   89.0               3
6        2818  2025-03-09      False   89.0               3
7        2818  2025-03-10      False   89.0               3
8        2818  2025-03-11      False   89.0               3
9        2818  2025-03-12      False   89.0               3

Hello, adbfs!